.app-card{
    border-spacing: 0;
    border: 1px solid;
    border-color: var(--border-color);
    background-color: white;
    border-radius: 5px;    
}
.app-header{
    border-bottom: 2px solid var(--light-gray);
    margin-bottom: 5px;
    width: 100%;
    background-color: white;
    font-family: Karla, Helvetica, Arial, sans-serif;
}

