.customer-info{
    font-family: Karla, Helvetica, Arial, sans-serif;
    transform: translateY(1em);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, linear 0.01s;
}

.customerInfo-image{
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 20px;
    margin-left: 15px;
}

.customerInfo-details{
    margin-left: 15px;
    font-size: 1.2rem;
    margin: 15px;
}

.customerInfo-btn{
    text-align: center;
    color: white;
    background: linear-gradient(#ff5b57, #E4504D);
    border: 1px solid #E4504D;
    box-sizing: border-box;
    padding: 8px 10px;
    border-radius: 3px;
    font-size: 1rem;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-family: "Karla",Helvetica,Arial,sans-serif;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    margin:0 auto;
    display:block;
    margin-bottom: 25px;
}

#customerInfo-name{
    margin-top: 0px;    
}