tr{
    font-size: 16px;
    font-family: Karla, Helvetica, Arial, sans-serif;
}
td{
    padding: 5px;
}
tr:nth-child(even){
    background-color: var(--light-gray);    
}
.secondary-detail{
    text-align: right;
}
#table-details:hover{
    background-color: var(--teal-light);
}